@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
  
  button, input {
    @apply outline-none;
  }
}

/* Evitar zoom automático em inputs no iOS */
@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}